#controls
  #spinner
    img(src='/images/ajax-loader.gif')
  #playAgents(title='Play/Pause')
  #slowDown(title='Slow')
  #speedUp(title='Fast')
  #newGame(title='New Game')
  #restartLevel(title='Restart Level')
  #divide1
  #panUp(title='Pan Up')
  #panLeft(title='Pan Left')
  #panReset(title='Pan Reset')
  #panRight(title='Pan Right')
  #panDown(title='Pan Down')
  #divide2
  #zoomOut(title='Zoom Out')
  #zoomReset(title='Zoom Reset')
  #zoomIn(title='Zoom In')
  #divide3
  #contract(title='Contract Screen')
  #expand(title='Expand Screen')
  #fullscreen(title='Full Screen')
  #divide4
  #control-links
    div.control-link(title='Tutorial')
      a#tutorial(href='#') Tutorial
    div(title='Levels')
      a#openWorldGallery(href='#') Levels
    div(title='Settings')
      a#settings(href='#') Settings
    - if (everyauth && everyauth.user)
      div
        a#editor(href='#') Editor
    //- div
        a#debug(href='#',style="display:none") Step
    div.divide

    div.control-link(title='View 3D/2D')
      a#3d(href='#') View 3D
      //
        div(title='Reset View')
          a#resetView(href='#') Reset View
        div
          a#tiltUp(href='#') Tilt Up
        div
          a#tiltDown(href='#') Tilt Down
        div
          a#rotateLeft(href='#') Rotate Left
        div
          a#rotateRight(href='#') Rotate Right
    div.divide
    div.control-link#user-links
      - if (everyauth && !everyauth.user)
        a#login(href='#') Login
      - else if (typeof(everyauth) != 'undefined')
        a#welcome-link(href='#')= 'Welcome ' + everyauth.user.profile.nickname
        span= ' | '
        a#logout(href='/logout') Logout

  //#admin-controls
  //  button#debug Debug
  //  button#replay Replay
  //  button#script-editor Script Editor
  //  button#story-board Story Board
  //div.divide



