#controls
  #spinner
    img(src='/images/ajax-loader.gif')
  #playAgents
  #slowDown
  #speedUp
  #newGame
  #restartLevel
  div.divide

  #panUp
  #panLeft
  #panReset
  #panRight
  #panDown
  div.divide

  #zoomOut
  #zoomReset
  #zoomIn
  div.divide

  #contract
  #expand
  #fullscreen
  div.divide

  div
    a#3d(href='#') View 3D
  div
    a#resetView(href='#') Reset
  // div
  //  a#tiltUp(href='#') Tilt Up
  // div
  //  a#tiltDown(href='#') Tilt Down
  // div
  //  a#rotateLeft(href='#') Rotate Left
  // div
  //  a#rotateRight(href='#') Rotate Right
  div.divide

  div
    a#tutorial(href='#') Tutorial
  div
    a#openWorldGallery(href='#') Worlds
  div
    a#settings(href='#') Settings
  //- if (everyauth && everyauth.user)
  div
    a#editor(href='#') Editor
  div
    a#debug(href='#') Step
  div.divide

  //#admin-controls
  //  button#debug Debug
  //  button#replay Replay
  //  button#script-editor Script Editor
  //  button#story-board Story Board
  //div.divide
