#extended-area
  ul
    li
      a(href='#chat-area') Chat area
    li
      a(href='#alt_gameworld') Duel
    li
      a(href='#world-graph') Graph
  #chat-area
    #chat
      form#chatForm(onsubmit="send(); return false;")
        p Nickname:
          input#nickname(type='text', autocomplete='off')
        p Message:
          input#messageText(type='text', autocomplete='off')
        input#sendMessage(type='submit', value='Send')
  #alt_gameworld
    #alt_world
      canvas#alt_imageCanvas(width='480',height='400')
      #alt_map_canvas(width='480',height='400')
      canvas.scrollable-canvas#alt_baseCanvas(width='480',height='400')
      canvas#alt_noticeCanvas(width='480',height='400')
      canvas.scrollable-canvas#alt_agentCanvas(width='480',height='400')
      canvas.scrollable-canvas#alt_resourceCanvas(z-index='6',width='480',height='400')
      canvas#alt_scrollingCanvas(z-index='7',width='480',height='400')
  #world-graph
