#gameworld
  #world()
    canvas#imageCanvas()
    #map_canvas()
    canvas.scrollable-canvas#baseCanvas()
    canvas#noticeCanvas(width='480',height='400')
    canvas.scrollable-canvas#agentCanvas(width='480',height='400')
    canvas.scrollable-canvas#resourceCanvas(z-index='6',width='480',height='400')
    canvas#scrollingCanvas(z-index='7',width='480',height='400')
