#gameworld(z-index='1')
  #world-container(z-index='1')
    canvas#imageCanvas(z-index='1')
    #map_canvas(z-index='2')
      #actual_map
    canvas.scrollable-canvas#baseCanvas(z-index='3')
    canvas.scrollable-canvas#guideCanvas(z-index='4')
    canvas.scrollable-canvas#agentCanvas(z-index='5')
    canvas.scrollable-canvas#resourceCanvas(z-index='6')
    canvas#scrollingCanvas(z-index='7', resize='true')
    canvas#noticeCanvas(z-index='8')
  #notifications
    #model-tabs
      ul
        li
          a(href='#console') Console
        li
          a(href='#graph-area') Graph
        li
          a(href='#world-parameters') Parameters
        li
          a(href='#world-information') Information
        li
          a(href='#world-code') Code
      #console
      #graph-area
        #world-graph
        #graph-controls
          label(for='graph-config') Show graph for:
          select#graph-config(name='graph-config')
            option(name='pop-count') Population
            option(name='pop-health') Population Health
            option(name='saved-expired') Survived/Expired
            option(name='hdi') Human Development Index
            option(name='hpi') Happy Planet Index
      #world-parameters
      #world-information
      #world-code
        textarea#module-editor

    #handle(style='height: 10px;')