#gameworld
  #world()
    canvas#imageCanvas
    #map_canvas
    canvas.scrollable-canvas#baseCanvas
    canvas#noticeCanvas
    canvas.scrollable-canvas#agentCanvas
    canvas.scrollable-canvas#resourceCanvas(z-index='6')
    canvas#scrollingCanvas(z-index='7')
