#graph-dialog
  #graph-area
    #world-graph
  #graph-controls
    label(for='graph-config') Show graph for:
    select#graph-config(name='graph-config')
      option(name='pop-count') Population
      option(name='pop-health') Population Health
      option(name='saved-expired') Survived/Expired
      option(name='hdi') Human Development Index
      option(name='hpi') Happy Planet Index
