#global-info-panel
  #highscore
    a#highScores(href="#") Highest Score:
    span#highest-score-display 0
  #score Score:
    span#score-display 0
  #level Level:
    span#level-display
  #waves Waves:
    span#waves-display
  #expired-citizens
  #saved Saved:
    span#saved-display
  #resourceLevels Resources:
    span#goodness-display
  a#showResourceGallery(title="Resource Gallery", style='font-size: 0.8em') (More...)
  #swatch