#global-info-panel
  #about
    a#aboutLink(href="#") About
  #highscore
    a#highScores(href="#") Highest Score:
    span#highest-score-display 0
  #score Score:
  #score-display 0
  #world Level:
    span#world-display
  #waves Waves:
    span#waves-display
  #saved Saved:
    span#saved-display
  #expired-citizens
  #resourceLevels Resources:
    span#goodness-display
  #showResourceGallery
    a(title="Resource Gallery") (More...)
  #swatch