#level-gallery-dialog
  #level-gallery-tabs
    ul
      li
        a(href='#default-levels') Default levels
      li
        a(href='/levels/gallery') Custom levels
      li
        a(href='#difficulty') Difficulty
    #default-levels
      #thumbnails
        div.thumbnail#levelSelect1
          img(src='/images/levels/level-thumbnail-1.png')
          div
            div
              strong Level 1:
            div Welcome to Fierce Planet!
        div.thumbnail#levelSelect2
          img(src='/images/levels/level-thumbnail-2.png')
          div
            strong Level 2:
            br Welcome to Fierce Planet!
        div.thumbnail#levelSelect3
          img(src='/images/levels/level-thumbnail-3.png')
          div
            strong Level 3:
            br Welcome to Fierce Planet!
        div.thumbnail#levelSelect4
          img(src='/images/levels/level-thumbnail-4.png')
          div
            strong Level 4:
            br Welcome to Fierce Planet!
        div.thumbnail#levelSelect5
          img(src='/images/levels/level-thumbnail-5.png')
          div
            strong Level 5:
            br Welcome to Fierce Planet!
        div.thumbnail#levelSelect6
          img(src='/images/levels/level-thumbnail-6.png')
          div
            strong Level 6:
            br Welcome to Fierce Planet!
        div.thumbnail#levelSelect7
          img(src='/images/levels/level-thumbnail-7.png')
          div
            strong Level 7:
            br Welcome to Fierce Planet!
        div.thumbnail#levelSelect8
          img(src='/images/levels/level-thumbnail-8.png')
          div
            strong Level 8:
            br Welcome to Fierce Planet!
        div.thumbnail#levelSelect9
          img(src='/images/levels/level-thumbnail-9.png')
          div
            strong Level 9:
            br Welcome to Fierce Planet!
        div.thumbnail#levelSelect10
          img(src='/images/levels/level-thumbnail-10.png')
          div
            strong Level 10:
            br Welcome to Fierce Planet!
        div.thumbnail#levelSelect11
          img(src='/images/levels/level-thumbnail-11.png')
          div
            strong Level 11:
            br Welcome to Fierce Planet!
        div.thumbnail#levelSelect12
          img(src='/images/levels/level-thumbnail-11.png')
          div
            strong Level 12:
            br Welcome to Fierce Planet!
    #difficulty
      form
        div Select difficulty:
        br
        div
          div
            input.difficultyInput#difficulty-input-1(name="difficultyInput",type="radio", value='1')
            label(for='difficulty-input-1') Easy
          div
            input.difficultyInput#difficulty-input-2(name="difficultyInput",type="radio", value='2')
            label(for='difficulty-input-2') Medium
          div
            input.difficultyInput#difficulty-input-3(name="difficultyInput",type="radio", value='3')
            label(for='difficulty-input-3') Hard
          div
            input.difficultyInput#difficulty-input-4(name="difficultyInput",type="radio", value='4')
            label(for='difficulty-input-4') Extreme
