#level-editor(style='display:none')
  div
    a#refresh-tiles(href='#') Clear all
  div
    a#fill-all(href='#') Fill all
  div
    a#clear-entry-points(href='#') Clear Entry Points
  div
    a#clear-exit-points(href='#') Clear Exit Points
  div
    a#show-level-properties(href='#') Properties
  div
    a#undo-action(href='#') Undo (last action only)
  div
    a#cancel-level-editor(href='#') Close Editor
  div
    a#save-level(href='#') Save Level
  #level-editor-form
  div
    a#edit-map(href='#') Edit map
  div
    a#save-map(href='#') Save map
  div
    a#close-map(href='#') Close map
