#level-features
  div
    a#make-tile(href='#') Clear path
  div
    a#remove-resource(href='#') Clear resource
  div
    a#add-entry-point(href='#') Add Entry Point
  div
    a#remove-entry-point(href='#') Delete Entry Point
  div
    a#add-exit-point(href='#') Add Exit Point
  div
    a#remove-exit-point(href='#') Delete Exit Point
