#level-editor-dialog
  #level-list-tabs
    ul
      li
        a(href='#level-list') Level editor
    #level-list
      div
        h4
          a#new-level(href='#') Make new level
      hr
      h4 Existing levels
      #existing-levels

