#login-dialog
  h2 Sign in
  div#localSignIn
    form(action='/login', method='post')
      #login
        label(for=everyauth.password.loginFormFieldName) Login
        input(type='text', name=everyauth.password.loginFormFieldName)
      #password
        label(for=everyauth.password.passwordFormFieldName) Password
        input(type='password', name=everyauth.password.passwordFormFieldName)
      #submit
        input(type='submit', value='Login')
  div#remoteSignIn
    div Sign in with:
      div
        a(href='/auth/facebook')
          img(src='/images/intridea-authbuttons/png/facebook_32.png', alt='Facebook')
          span Facebook
      div
        a(href='/auth/google')
          img(src='/images/intridea-authbuttons/png/google_32.png', alt='Google')
          span Google
    div
  h2 Register
  div Not registered?
  div
    a(href='/register') Click here to register
    //div Forget your password?

