#menu
  #user-links
    - if (everyauth && !everyauth.user)
      a#login(href='#') Login
    - else if (typeof(everyauth) != 'undefined')
      a#welcome-link(href='#')= 'Welcome ' + everyauth.user.profile.nickname
      span= ' | '
      a#logout(href='/logout') Logout
