#resource-gallery-tabs
  ul
    li
      a(href='#gallery-item-list') Gallery
  #gallery-item-list(style='min-height:300px')
    #gallery-item-panel
      div
        em Click on a resource to purchase:
      #gallery-items
    #gallery-stats
      div Current class:
        span#current-profile-class
      div Credits:
        span#current-credits
      div Current capabilities:
      #current-capabilities
  #resource-gallery
