#world-gallery-dialog
  #world-gallery-tabs
    ul
      //
        li
            a(href='#quest-1') Quest 1
        li
            a(href='#quest-2') Quest 2
          li
            a(href='#quest-3') Quest 3
      li
        a(href='/worlds/gallery') Custom
      li
        a(href='#difficulty') Difficulty
      //
        .quests#quest-1
          .thumbnails
            div.thumbnail#worldSelect100
              img(src='/images/worlds/world-thumbnail-1.png')
              div
                div
                  strong Level 1:
                div Welcome to Fierce Planet!
            div.thumbnail#worldSelect2
              img(src='/images/worlds/world-thumbnail-2.png')
              div
                div
                  strong Level 2:
                div Welcome to Fierce Planet!
            div.thumbnail#worldSelect3
              img(src='/images/worlds/world-thumbnail-3.png')
              div
                div
                  strong Level 3:
                div Welcome to Fierce Planet!
            div.thumbnail#worldSelect4
              img(src='/images/worlds/world-thumbnail-4.png')
              div
                strong Level 4:
                div Welcome to Fierce Planet!
            div.thumbnail#worldSelect5
              img(src='/images/worlds/world-thumbnail-5.png')
              div
                div
                  strong Level 5:
                div Welcome to Fierce Planet!
            div.thumbnail#worldSelect6
              img(src='/images/worlds/world-thumbnail-6.png')
              div
                div
                  strong Level 6:
                div Welcome to Fierce Planet!
            div.thumbnail#worldSelect7
              img(src='/images/worlds/world-thumbnail-7.png')
              div
                div
                  strong Level 7:
                div Welcome to Fierce Planet!
            div.thumbnail#worldSelect8
              img(src='/images/worlds/world-thumbnail-8.png')
              div
                div
                  strong Level 8:
                div Welcome to Fierce Planet!
            div.thumbnail#worldSelect9
              img(src='/images/worlds/world-thumbnail-9.png')
              div
                div
                  strong Level 9:
                div Welcome to Fierce Planet!
            div.thumbnail#worldSelect10
              img(src='/images/worlds/world-thumbnail-10.png')
              div
                div
                  strong Level 10:
                div Welcome to Fierce Planet!
            div.thumbnail#worldSelect11
              img(src='/images/worlds/world-thumbnail-11.png')
              div
                div
                  strong Level 11:
                div Welcome to Fierce Planet!
        .quests#quest-2
          .thumbnails
            div.thumbnail#worldSelect12
              img(src='/images/worlds/world-thumbnail-12.png')
              div
                div
                  strong Level 12:
                div Oh-oh!
            div.thumbnail#worldSelect13
              img(src='/images/worlds/world-thumbnail-13.png')
              div
                div
                  strong Level 13:
                div
            div.thumbnail#worldSelect14
              img(src='/images/worlds/world-thumbnail-14.png')
              div
                div
                  strong Level 14:
                div
            div.thumbnail#worldSelect15
              img(src='/images/worlds/world-thumbnail-15.png')
              div
                div
                  strong Level 15:
                div
            div.thumbnail#worldSelect16
              img(src='/images/worlds/world-thumbnail-16.png')
              div
                div
                  strong Level 16:
                div
            div.thumbnail#worldSelect17
              img(src='/images/worlds/world-thumbnail-17.png')
              div
                div
                  strong Level 17:
                div
            div.thumbnail#worldSelect18
              img(src='/images/worlds/world-thumbnail-18.png')
              div
                div
                  strong Level 18:
                div
            div.thumbnail#worldSelect19
              img(src='/images/worlds/world-thumbnail-19.png')
              div
                div
                  strong Level 19:
                div
            div.thumbnail#worldSelect20
              img(src='/images/worlds/world-thumbnail-20.png')
              div
                div
                  strong Level 20:
                div
            div.thumbnail#worldSelect21
              img(src='/images/worlds/world-thumbnail-20.png')
              div
                div
                  strong Level 21:
                div
        .quests#quest-3
          .thumbnails
            div.thumbnail#worldSelect22
              img(src='/images/worlds/world-thumbnail-12.png')
              div
                div
                  strong Level 22:
                div I'm the Guy!
    #difficulty
      form
        div Select difficulty:
        br
        div
          div
            input.difficultyInput#difficulty-input-1(name="difficultyInput",type="radio", value='1')
            label(for='difficulty-input-1') Easy
          div
            input.difficultyInput#difficulty-input-2(name="difficultyInput",type="radio", value='2')
            label(for='difficulty-input-2') Medium
          div
            input.difficultyInput#difficulty-input-3(name="difficultyInput",type="radio", value='3')
            label(for='difficulty-input-3') Hard
          div
            input.difficultyInput#difficulty-input-4(name="difficultyInput",type="radio", value='4')
            label(for='difficulty-input-4') Extreme
