#world-editor(style='display:none')
  div
    a#refresh-tiles(href='#') Clear all
  div
    a#fill-all(href='#') Fill all
  div
    a#clear-entry-points(href='#') Clear Entry Points
  div
    a#clear-exit-points(href='#') Clear Exit Points
  div
    a#show-world-properties(href='#') Properties
  div
    a#undo-action(href='#') Undo (last action only)
  div
    a#cancel-world-editor(href='#') Close Editor
  div
    a#save-world(href='#') Save Level
  div
    a#toggle-mode(href='#') Clear mode
  div
    a#edit-map(href='#') Edit map
  div
    a#save-map(href='#') Save map
  div
    a#close-map(href='#') Close map
