#world-editor-dialog
  #world-list-tabs
    ul
      li
        a(href='#world-list') Level editor
    #world-list
      div
        h4
          a#new-world(href='#') Make new world
      hr
      h4 Existing worlds
      #existing-worlds

