[submodule "public\\javascripts\\gofigure"]
	path = public\\javascripts\\gofigure
	url = git://github.com/doclm/gofigure.git
[submodule "public/javascripts/gofigure"]
	path = public/javascripts/gofigure
	url = git://github.com/doclm/gofigure.git
