[submodule "public/javascripts/gofigure"]
	path = public/javascripts/gofigure
	url = git://github.com/doclm/gofigure.git
[submodule "public/javascripts/fp-core"]
	path = public/javascripts/fp-core
	url = https://github.com/doclm/fp-core.git
