#wrapper
  #content-pane
    #global-info-panel
      #highscore
        a(href="/profiles/high_scores",data-method="get",data-remote="true") Highest Score:
        span#highest-score-display 0
      #score Score:
        span#score-display 0
      #level Level:
        span#level-display
      #waves Waves:
        span#waves-display
      #expired-citizens
      #saved Saved:
        span#saved-display
      #resourceLevels Resources: 
        span#goodness-display
      a#showResourceGallery(title="Resource Gallery") (More)

    #gameworld
      #world
        canvas#imageCanvas(width='480',height='400')
        #map_canvas(width='480',height='400')
        canvas.scrollable-canvas#baseCanvas(width='480',height='400')
        canvas#noticeCanvas(width='480',height='400')
        canvas.scrollable-canvas#agentCanvas(width='480',height='400')
        canvas.scrollable-canvas#resourceCanvas(z-index='6',width='480',height='400')
        canvas#scrollingCanvas(z-index='7',width='480',height='400')

    #chat-area
      #chat
        form#chatForm(onsubmit="send(); return false;")
          p Nickname:
            input#nickname(type='text', autocomplete='off')
          p Message:
            input#messageText(type='text', autocomplete='off')
          input#sendMessage(type='submit', value='Send')

    #world-graph

    #info
      #global-info
        #user-links
          a(href='/users/sign_in') Login

    #controls
      #playAgents
      #slowDown
      #speedUp
      #newGame
      #restartLevel
      div.divide

      #panUp
      #panLeft
      #panReset
      #panRight
      #panDown
      div.divide

      #zoomOut
      #zoomReset
      #zoomIn
      div.divide

      div
        a#tutorial(href='#') Tutorial
      div
        a#openLevelGallery(href='#') Levels
      div
        a#settings(href='#') Settings
      div
        a#editor(href='#') Editor
      div
        a#3d(href='#') View 3D
      div
        a#resetView(href='#') Reset View
      div
        a#tiltUp(href='#') Tilt Up
      div
        a#tiltDown(href='#') Tilt Down
      div
        a#rotateLeft(href='#') Rotate Left
      div
        a#rotateRight(href='#') Rotate Right
      div.divide

      #admin-controls
        button#debug Debug
        button#replay Replay
        button#script-editor Script Editor
        button#story-board Story Board
      div.divide

    #notifications
    
    #swatch

    #level-features
      div
        a#make-tile(href='#') Clear path
      div
        a#remove-resource(href='#') Clear resource
      div
        a#add-entry-point(href='#') Add Entry Point
      div
        a#remove-entry-point(href='#') Delete Entry Point
      div
        a#add-exit-point(href='#') Add Exit Point
      div
        a#remove-exit-point(href='#') Delete Exit Point

    #level-editor(style='display:none')
      div
        a#refresh-tiles(href='#') Clear all
      div
        a#fill-all(href='#') Fill all
      div
        a#clear-entry-points(href='#') Clear Entry Points
      div
        a#clear-exit-points(href='#') Clear Exit Points
      div
        a#show-level-properties(href='#') Properties
      div
        a#undo-action(href='#') Undo (last action only)
      div
        a#cancel-level-editor(href='#') Close Editor
      #level-editor-form
      div
        a#edit-map(href='#') Edit map
      div
        a#save-map(href='#') Save map
      div
        a#close-map(href='#') Close map

    #delete-upgrade-dialog
      #delete-option
        a#del-button(href='#')
          | Delete
          br
          small (Revenue: +5)
      #upgrade-option
        a#upg-button(href='#') Upgrade

    #resource-gallery-tabs
      ul
        li
          a(href='#gallery-item-list') Gallery
      #gallery-item-list(style='min-height:300px')
        #gallery-item-panel
          div
            em Click on a resource to purchase:
          #gallery-items
        #gallery-stats
          div Current class:
            span#current-profile-class
          div Credits:
            span#current-credits
          div Current capabilities:
          #current-capabilities
      #resource-gallery
        
    #level-gallery-dialog
      #level-gallery-tabs
        ul
          li
            a(href='#default-levels') Default levels
          li
            a(href='/levels/gallery') Custom levels
          li
            a(href='#difficulty') Difficulty
        #default-levels
          #thumbnails
            div.thumbnail#levelSelect1
              img(src='/images/levels/level-thumbnail-1.png')
              div
                div
                  strong Level 1:
                div Welcome to Fierce Planet!
            div.thumbnail#levelSelect2
              img(src='/images/levels/level-thumbnail-2.png')
              div
                strong Level 2:
                br Welcome to Fierce Planet!
            div.thumbnail#levelSelect3
              img(src='/images/levels/level-thumbnail-3.png')
              div
                strong Level 3:
                br Welcome to Fierce Planet!
            div.thumbnail#levelSelect4
              img(src='/images/levels/level-thumbnail-4.png')
              div
                strong Level 4:
                br Welcome to Fierce Planet!
            div.thumbnail#levelSelect5
              img(src='/images/levels/level-thumbnail-5.png')
              div
                strong Level 5:
                br Welcome to Fierce Planet!
            div.thumbnail#levelSelect6
              img(src='/images/levels/level-thumbnail-6.png')
              div
                strong Level 6:
                br Welcome to Fierce Planet!
            div.thumbnail#levelSelect7
              img(src='/images/levels/level-thumbnail-7.png')
              div
                strong Level 7:
                br Welcome to Fierce Planet!
            div.thumbnail#levelSelect8
              img(src='/images/levels/level-thumbnail-8.png')
              div
                strong Level 8:
                br Welcome to Fierce Planet!
            div.thumbnail#levelSelect9
              img(src='/images/levels/level-thumbnail-9.png')
              div
                strong Level 9:
                br Welcome to Fierce Planet!
            div.thumbnail#levelSelect10
              img(src='/images/levels/level-thumbnail-10.png')
              div
                strong Level 10:
                br Welcome to Fierce Planet!
            div.thumbnail#levelSelect11
              img(src='/images/levels/level-thumbnail-11.png')
              div
                strong Level 11:
                br Welcome to Fierce Planet!
            div.thumbnail#levelSelect12
              img(src='/images/levels/level-thumbnail-11.png')
              div
                strong Level 12:
                br Welcome to Fierce Planet!
        #difficulty
          form
            div Select difficulty:
            br
            div
              div
                input.difficultyInput#difficulty-input-1(name="difficultyInput",type="radio", value='1')
                label(for='difficulty-input-1') Easy
              div
                input.difficultyInput#difficulty-input-2(name="difficultyInput",type="radio", value='2')
                label(for='difficulty-input-2') Medium
              div
                input.difficultyInput#difficulty-input-3(name="difficultyInput",type="radio", value='3')
                label(for='difficulty-input-3') Hard
              div
                input.difficultyInput#difficulty-input-4(name="difficultyInput",type="radio", value='4')
                label(for='difficulty-input-4') Extreme

    #settings-dialog
      #settings-tabs
        ul
          li
            a(href='#user-interface') User interface
          li
            a(href='#agent-settings') Agent
          li
            a(href='#resource-settings') Resource
          li
            a(href='#testing') Testing
        #user-interface
          div
            input#noticesVisible(type='checkbox', checked='checked')
            label(for='noticesVisible') Show in-game notices
          div
            input#statusBarVisible(type='checkbox', checked='checked')
            label(for='statusBarVisible') Show status bar
          div
            input#scrollingImageVisible(type='checkbox', checked='checked')
            label(for='scrollingImageVisible') Show scrolling image
          div
            input#catastrophesVisible(type='checkbox', checked='checked')
            label(for='catastrophesVisible') Show catastrophes
          div
            input#disableKeyboardShortcuts(type='checkbox')
            label(for='disableKeyboardShortcuts') Disable keyboard shortcuts
          div
            input#soundsPlayable(type='checkbox')
            label(for='soundsPlayable') Play sounds
          div
            input#useInlineResourceSwatch(type='checkbox')
            label(for='useInlineResourceSwatch') Show inline resource pop-up
          div
            input#allowInlinePanning(type='checkbox', checked='checked')
            label(for='allowInlinePanning') Allow inline panning
          div
            input#hidePath(type='checkbox')
            label(for='hidePath') Hide path
          div
            input#hidePathBorder(type='checkbox')
            label(for='hidePathBorder') Hide path border
          div
            input#showGraph(type='checkbox')
            label(for='showGraph') Show graph
          div
            input#showChat(type='checkbox', checked='checked')
            label(for='showGraph') Show chat
          div
            input#makeSquare(type='checkbox')
            label(for='makeSquare') Make world square
          div
            input#reverseMouseClickEffects(type='checkbox')
            label(for='reverseMouseClickEffects') Reverse mouse click effects
        #agent-settings
          div
            input#agentsCanCommunicate(type='checkbox', checked='checked')
            label(for='agentsCanCommunicate') Agents share their memories
          div
            input#agentsHaveRandomInitialHealth(type='checkbox')
            label(for='agentsHaveRandomInitialHealth') Agents have random initial health
          div
            input#agentsCanAdjustSpeed(type='checkbox')
            label(for='agentsCanAdjustSpeed') Agents can change their speed
          div
            input#agentsCanAdjustWander(type='checkbox')
            label(for='agentsCanAdjustWander') Agents can wander
          div
            input#agentTracing(type='checkbox')
            label(for='agentTracing') Show agent movement
          div Health cost per move: 
            span#agentCostPerMoveDisplay
            br
            div.slider-component#agentCostPerMove
        #resource-settings
          div
            input#resourcesInTension(type='checkbox')
            label(for='resourcesInTension') Resources affect neighbouring resources
          div
            input#resourcesInTensionGlobally(type='checkbox')
            label(for='resourcesInTensionGlobally') Resources affect all other resources
          div
            input#ignoreResourceBalance(type='checkbox')
            label(for='ignoreResourceBalance') Resource balance has no effect
          div
            input#applyGeneralHealth(type='checkbox')
            label(for='applyGeneralHealth') Resource categories have no effect
          div
            input#resourcesDiminishAtFixedRates(type='checkbox')
            label(for='resourcesDiminishAtFixedRates') Resources diminish at fixed rates
          div Rate of resource recovery:
            span#rateOfResourceRecoveryDisplay
            br
            div.slider-component#rateOfResourceRecovery
        #testing
          div
            input#recording(type='checkbox')
            label(for='recording') Record game
          div
            input#godMode(type='checkbox')
            label(for='godMode') Play in 'god' mode
          div
            input#showHealthReductionInGodMode(type='checkbox')
            label(for='showHealthReductionInGodMode') Show health reduction in 'god' mode
          div
            input#rivalsVisible(type='checkbox')
            label(for='rivalsVisible') Show rivals
          div
            input#predatorsVisible(type='checkbox')
            label(for='predatorsVisible') Show predators
          div
            input#tilesMutable(type='checkbox')
            label(for='tilesMutable') Allow tiles to be added
          div
            input#tilesRemovable(type='checkbox')
            label(for='tilesRemovable') Allow tiles to be removed
          div
            input#skewTiles(type='checkbox', checked='checked')
            label(for='skewTiles') View in 3D
          div
            input#showResourcesAsBoxes(type='checkbox', checked='checked')
            label(for='showResourcesAsBoxes') Show resources as boxes in 3D
          div
            input#sendEventsToServer(type='checkbox', checked='checked')
            label(for='sendEventsToServer') Send events to server
          div
            input#spectate(type='checkbox')
            label(for='spectate') Spectate
//          div
//            input#backgroundIconsVisible(type='checkbox')
//           label(for='backgroundIconsVisible')  Show background icons

