

!= partial('partials/menu')
!= partial('partials/controls')
!= partial('partials/info-panel')
!= partial('partials/gameworld')

!= partial('partials/settings')
!= partial('partials/level-features')
!= partial('partials/level-editor')
!= partial('partials/level-properties-dialog')
!= partial('partials/level-editor-dialog')
!= partial('partials/level-gallery')
!= partial('partials/resource-gallery')
!= partial('partials/login-dialog')
!= partial('partials/profile-dialog')
!= partial('partials/delete-upgrade-dialog')

!= partial('partials/extended-area')
