

//!= partial('partials/menu')
!= partial('partials/controls')
!= partial('partials/info-panel')
!= partial('partials/gameworld')


!= partial('partials/dialogs/new-world')

!= partial('partials/settings')
!= partial('partials/world-features')
!= partial('partials/world-editor')
!= partial('partials/world-properties-dialog')
!= partial('partials/world-editor-dialog')
!= partial('partials/world-gallery')
!= partial('partials/resource-gallery')
!= partial('partials/login-dialog')
!= partial('partials/profile-dialog')
!= partial('partials/delete-upgrade-dialog')
!= partial('partials/module-editor-dialog')
!= partial('partials/dialogs/graph-dialog')

