!!!
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title= typeof(title) !== 'undefined' ? title : "Fierce Planet"
    link(rel='stylesheet', href='/stylesheets/styles.css')
    //link(rel='stylesheet', href='/stylesheets/chat.css')
    link(rel='stylesheet', href='/stylesheets/jqconsole.css')
    //link(rel='stylesheet', href='/stylesheets/jquery.terminal.css')
    link(rel='stylesheet', href='/stylesheets/custom/jquery-ui-1.8.14.custom.css')

    != partial('scripts')

  body
    #wrapper
      #content-pane!= body