!!!
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title= typeof(title) !== 'undefined' ? title : "Fierce Planet"
    link(rel='stylesheet', href='/stylesheets/mobile.css')
    link(rel='stylesheet', href='/stylesheets/jqconsole.css')
    link(rel='stylesheet', href='/stylesheets/custom/jquery-ui-1.8.14.custom.css')
    != partial('scripts')

  body
    #wrapper
      #content-pane!= body
    #footer