script(src='http://maps.googleapis.com/maps/api/js?libraries=geometry,places,weather,traffic&sensor=true')
script(src='/javascripts/LABjs-2.0.3/LAB.js')
script(src='/javascripts/fp/main.js')
//script(src='/javascripts/fp/graphics/effects/overlay.js', type='text/paperscript', canvas='scrollingCanvas')

script(type='text/javascript')
- if (typeof(serverLevel) !== 'undefined')
  script
    $(document).ready(function() {
      FiercePlanet.LevelUI.makeLevelFromJSON(!{JSON.stringify(serverLevel)});
    });

