script(src='/javascripts/jquery/jquery.min.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.core.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.widget.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.mouse.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.accordion.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.autocomplete.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.button.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.datepicker.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.dialog.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.draggable.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.droppable.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.position.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.progressbar.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.resizable.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.selectable.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.slider.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.sortable.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.tabs.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.core.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.blind.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.bounce.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.clip.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.drop.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.explode.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.fold.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.highlight.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.pulsate.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.scale.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.shake.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.slide.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.transfer.js')
//script(src='/javascripts/jquery.mousewheel.3.0.2/jquery.mousewheel.min.js')
script(src='/javascripts/jquery.mousewheel.3.0.2/jquery.mousewheel.js')
script(src='/javascripts/jquery/jquery.zoom.js')
script(src='/javascripts/spin.js/spin.min.js')
script(src='/javascripts/sylvester/sylvester.js')
script(src='/javascripts/flot-0.7/flot/jquery.flot.min.js')
script(src='/javascripts/jstat-1.0.0/js/jstat-0.1.0.min.js')
script(src='/javascripts/jpicker-1.1.6/jpicker-1.1.6.js')
script(src='/javascripts/jq-console/demo/jqconsole-min.js')

script(src='/javascripts/fp/utils/jqconsole-helper.js')

script(src='/socket.io/socket.io.js')

script(src='http://maps.googleapis.com/maps/api/js?sensor=true')



script(data-main='/javascripts/fp/main.js', src='/javascripts/requirejs/require.js')


script(type='text/javascript')
- if (typeof(serverLevel) !== 'undefined')
  script
    $(document).ready(function() {
      FiercePlanet.LevelUI.makeLevelFromJSON(!{JSON.stringify(serverLevel)});
    });
