script(src='/javascripts/jquery/jquery.min.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.core.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.widget.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.mouse.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.accordion.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.autocomplete.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.button.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.datepicker.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.dialog.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.draggable.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.droppable.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.position.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.progressbar.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.resizable.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.selectable.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.slider.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.sortable.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.ui.tabs.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.core.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.blind.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.bounce.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.clip.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.drop.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.explode.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.fold.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.highlight.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.pulsate.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.scale.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.shake.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.slide.js')
script(src='/javascripts/jquery-jquery-ui-fe1b0dc/ui/jquery.effects.transfer.js')
//script(src='/javascripts/jquery.mousewheel.3.0.2/jquery.mousewheel.min.js')
script(src='/javascripts/jquery.mousewheel.3.0.2/jquery.mousewheel.js')
script(src='/javascripts/jquery/jquery.zoom.js')
script(src='/javascripts/sylvester/sylvester.js')
script(src='/javascripts/flot-0.7/flot/jquery.flot.min.js')
script(src='/javascripts/jstat-1.0.0/js/jstat-0.1.0.min.js')
script(src='/javascripts/jq-console/demo/jqconsole-min.js')
script(src='/javascripts/fp/utils/jqconsole-helper.js')

script(src='/socket.io/socket.io.js')

script(src='http://maps.googleapis.com/maps/api/js?sensor=true')

script(src='/javascripts/fp/framework/world.js')
script(src='/javascripts/fp/framework/agent.js')
script(src='/javascripts/fp/framework/catastrophe.js')
script(src='/javascripts/fp/framework/culture.js')
script(src='/javascripts/fp/framework/level.js')
script(src='/javascripts/fp/framework/resource.js')
script(src='/javascripts/fp/framework/species.js')
script(src='/javascripts/fp/framework/terrain.js')
script(src='/javascripts/fp/framework/tile.js')

script(src='/javascripts/fp/fp-models/profile.js')
script(src='/javascripts/fp/fp-models/profile_class.js')
script(src='/javascripts/fp/fp-models/notice.js')
script(src='/javascripts/fp/fp-models/event.js')

script(src='/javascripts/fp/fp-data/resource_types.js')
<!-- Change this to load other resource categories -->
script(src='/javascripts/fp/fp-data/resourceset/tbl.js')
script(src='/javascripts/fp/fp-data/resourceset/cos.js')
script(src='/javascripts/fp/fp-data/player_classes.js')
script(src='/javascripts/fp/fp-data/agent_types.js')

script(src='/javascripts/fp/fp-db/fp-db.js')

script(src='/javascripts/fp/fp-ui/dialogs.js')
script(src='/javascripts/fp/fp-ui/drawing.js')
script(src='/javascripts/fp/fp-ui/general-ui.js')
script(src='/javascripts/fp/fp-ui/orientation.js')
script(src='/javascripts/fp/fp-ui/profile-ui.js')
script(src='/javascripts/fp/fp-ui/resource-ui.js')
script(src='/javascripts/fp/fp-ui/google-map.js')
script(src='/javascripts/fp/fp-ui/isometric.js')

script(src='/javascripts/fp/editor.js')
script(src='/javascripts/fp/lifecycle.js')
script(src='/javascripts/fp/params.js')
script(src='/javascripts/fp/recording.js')
script(src='/javascripts/fp/utils/utils.js')
script(src='/javascripts/fp/utils/comms.js')
script(src='/javascripts/fp/utils/log.js')
script(src='/javascripts/fp/game.js')

// Last to load - has strong dependencies on all other classes
script(src='/javascripts/fp/fp-data/levels.js')
script(src='/javascripts/fp/dev.js')


//script(src='/javascripts/fp/utils/jquery-terminal-helper.js')
//script(src='/javascripts/jcubic-jquery.terminal-b904cec/js/dterm.js')
//script(src='/javascripts/jcubic-jquery.terminal-b904cec/js/jquery.terminal-0.3.6.js')
//script(src='/javascripts/jcubic-jquery.terminal-b904cec/js/code.js')

script(type='text/javascript')
  $(document).ready(function() {
    FiercePlanet.ProfileUI.getProfile();

    $('.thumbnail, .customLevel').click(FiercePlanet.GeneralUI.changePresetLevelDirectly);
    FiercePlanet.GeneralUI.highlightGalleryItem(FiercePlanet.currentLevelNumber);
    $('#difficulty-input-' + FiercePlanet.levelOfDifficulty).attr('checked', 'checked');
    $(".difficultyInput").click(FiercePlanet.GeneralUI.changeDifficulty);
    // Remove text selection - TODO: needs to be more granular
    // document.onselectstart = function() {return false;} // ie
    // document.onmousedown = function() {return false;} // mozilla

    // Default to 3d
    World.settings.skewTiles = true;
    $('#3d')[0].innerHTML = 'View 2D';
    FiercePlanet.Drawing.drawGame();
  });
