h3= title

#levels
  - each level in levels
    div.level
      div.title
        a.customLevel(id='levelSelect' + level._id,href='#')!= level.name

script(type='text/javascript')
  $(document).ready(function() {
    $('.customLevel').click(FiercePlanet.GeneralUI.changeLevelDirectly);
  });
