html {
    background: #000 url(../layout/stars.jpg);
}

body {
    color: #000;
    /*color: #fff;*/
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 80%;
    padding:0; margin:0;
    background-repeat: no-repeat;
}
.hide {
    display:none;
}
#wrapper {
    /*   background: url(../layout/.jpg);*/
    /*background: url(../layout/Slice-1.jpg) top left no-repeat;*/
    /*position:absolute;*/
    /*top: 0px; left: 0px;*/
    /*width: 100%;*/
    /*height: 100%;*/
}
.bg {
    position:absolute;
    top: -6%; left: -18%;
    width: 114%;
    /*max-width: 1090px;*/
    /*height: 100%;*/
}


#content-pane {
    display: none;
    position:absolute;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    text-align: left;
}


/* map */
#gameworld  {
    position:absolute;
    left:22%;
    top:12%;
    width:56%;
    height:85%;
    /*clear:both;*/
    /*position:relative;*/
    z-index: 1;

    background:rgba(31, 98, 193, 0.5);
    border-radius:4px;
    /*padding:1%;*/
}
#world-container {
    position:absolute;
    overflow: hidden;
    float: left;
    left:0%;
    top:0%;
    width: 98%;
    height: 68%;
    /*border-radius:4px;*/
    padding:1%;
    /*background:rgba(31, 98, 193, 0.5);*/
    display:block;
    z-index: 1;
    /*width:480px; height:400px;*/
}

    #imageCanvas        {
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    #map_canvas         {
        position:relative;
        overflow: hidden;
        opacity: 1.0;
        float: left;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
    #actual_map         {
        /*position:absolute;*/
        /*top: 50%;*/
        /*left: 50%;*/

    }
    #baseCanvas         {
        position:absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
    }
    #guideCanvas        {
        position:absolute;
        z-index: 4;
        width: 100%;
        height: 100%;
    }
    #agentCanvas        {
        position:absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
    }
    #resourceCanvas     {
        position:absolute;
        z-index: 6;
        width: 100%;
        height: 100%;
    }
    #scrollingCanvas    {
        position:absolute;
        z-index: 7;
        width: 100%;
        height: 100%;
    }
    #noticeCanvas       {
        position:absolute;
        z-index: 8;
    }

#notifications {
    position:absolute;
    top: 70%;
    left: 0%;
    height: 28%;
    width:98%;
    padding: 1%;
    /*background: #1F62C1;*/
    /*border-radius:4px;*/
    opacity: 0.85;
}

#controls {
    position:absolute;
    left:16%; top:26%;
    /*width:61px;*/
    width:4%;height:50%;
    padding:50px 10px 0;
    z-index: 100;
    background: #1F62C1;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#1F62C1), to(#203275));
    background: -moz-linear-gradient(0% 100% 0deg,#1F62C1, #203275);
    border-radius:4px;
    line-height:24px;
    text-align:center;
}

    #playAgents, #slowDown, #speedUp, #newGame, #re startLevel, #panUp, #panLeft, #panReset, #panRight, #panDown, #zoomOut, #zoomReset, #zoomIn{
        cursor:pointer;
    }
    .pausing {
        position:absolute;
        background:url(../layout/play.png);
        background-position: 0% 0%;
        background-size: 200% 200%;
        width:120%; height:20%;
        left:-10%; top:-10%;
    }
    .pausing:hover {
        /*background-position: -101px 0;*/
        background-position: -100% 0%;
        background-size: 200% 200%;
    }
    .playing{
        position:absolute;
        background:url(../layout/play.png);
        /*background-position: 0 -101px;*/
        background-position: 0% -100%;
        background-size: 200% 200%;
        width:120%; height:20%;
        left:-10%; top:-10%;
    }
    .playing:hover{
        /*background-position: -101px -101px;*/
        background-position: -100% -100%;
        background-size: 200% 200%;
    }
    #slowDown:hover, #speedUp:hover, #newGame:hover, #restartLevel:hover, #panUp:hover, #panLeft:hover, #panReset:hover, #panRight:hover, #panDown:hover, #zoomOut:hover, #zoomReset:hover, #zoomIn:hover{
        background-image:url(../layout/buttons_hover.png);
    }

    #slowDown{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -5px -3px;*/
        background-position: 10% -2%;
        background-size: 250% 800%;
        width: 40%; height:6%;
        top:10%; left:10%;
    }
    #speedUp{
        position:absolute;
        background-image:url(../layout/buttons.png);
        background-position: 100% -2%;
        background-size: 250% 800%;
        width: 40%; height:6%;
        top:10%; left:60%;
    }
    #newGame{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -5px -25px;*/
        background-position: 10% 13%;
        background-size: 250% 700%;
        width: 40%; height:6%;
        top:16%; left:10%;
    }
    #restartLevel{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: 32px -25px;*/
        background-position: 100% 13%;
        background-size: 250% 700%;
        width: 40%; height:6%;
        top:16%; left:60%;
    }
    #divide1 {
        position:absolute;
        width: 100%; height:2%;
        top:22%; left:0%;
        border-bottom: 2px solid #1F62C1;
        margin-bottom:10px;
    }
    #panUp{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -5px -70px;*/
        background-position: 42% 36%;
        background-size: 320% 1000%;
        width: 26%; height:4%;
        top: 25%; left: 36%;
    }
    #panLeft{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -3px -87px;*/
        background-position: -6% 47%;
        background-size: 320% 1000%;
        width: 26%; height:4%;
        top: 29%; left: 10%;
    }
    #panReset{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -21px -87px;*/
        background-position: 46% 47%;
        background-size: 320% 1000%;
        width: 26%; height:4%;
        top: 29%; left: 38%;
    }
    #panRight{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -49px -87px;*/
        background-position: 102% 47%;
        background-size: 320% 1000%;
        width: 26%; height:4%;
        top: 29%; left: 68%;
    }
    #panDown{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -5px -116px;*/
        background-position: 46% 60%;
        background-size: 320% 1000%;
        width: 26%; height:4%;
        top: 33%; left: 38%;
    }
    #divide2 {
        position:absolute;
        width: 100%; height:2%;
        top:37%; left:0%;
        border-bottom: 2px solid #1F62C1;
        margin-bottom:10px;
    }
    #zoomOut{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -5px -145px;*/
        background-position: 5% 79%;
        background-size: 320% 700%;
        width: 28%; height:6%;
        top: 40%; left: 10%;
    }
    #zoomReset{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -25px -145px;*/
        background-position: 50% 79%;
        background-size: 320% 700%;
        width: 28%; height:6%;
        top: 40%; left: 40%;
    }
    #zoomIn{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -46px -145px;*/
        background-position: 95% 79%;
        background-size: 320% 700%;
        width: 28%; height:6%;
        top: 40%; left: 68%;
    }
    #divide3 {
        position:absolute;
        width: 100%; height:2%;
        top: 45%; left:0%;
        border-bottom: 2px solid #1F62C1;
        margin-bottom:10px;
    }
    #contract{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -5px -175px;*/
        background-position: 3% 90%;
        background-size: 320% 800%;
        width: 28%; height:6%;
        top: 47%; left: 8%;
    }
    #expand{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -25px -175px;*/
        background-position: 50% 90%;
        background-size: 320% 800%;
        width: 28%; height:6%;
        top: 47%; left: 38%;
    }
    #fullscreen{
        position:absolute;
        background-image:url(../layout/buttons.png);
        /*background-position: -46px -175px;*/
        background-position: 95% 90%;
        background-size: 320% 800%;
        width: 28%; height:6%;
        top: 47%; left: 67%;
    }
    #divide4 {
        position:absolute;
        width: 100%; height:2%;
        top: 53%; left:0%;
        border-bottom: 2px solid #1F62C1;
        margin-bottom:10px;
    }
    #control-links {
        position:absolute;
        width: 100%;
        top: 55%; left:0%;
    }
    .divide {
        position:absolute;
        width: 100%; height:5%;
        border-bottom: 2px solid #1F62C1;
        margin-bottom:10px;
    }
    .control-link {
        margin-top:10px;
    }


#main-panel {
}
#global-info-panel {
    position:absolute;
    /*background: url(../layout/Slice-2.jpg) top right no-repeat;*/
    padding-bottom: 20px;
    left:80%; top: 12%;
    width:15%; height:100%;
    z-index: 10;
}
    #user-info {
        clear:both;
        float: right;
        position: relative;
        color: #add8e6;
        padding: 0;
        text-align: right
    }

    #menu {
        position:absolute;
        width:400px;
        height:20px;
        top:67px;
        left:270px;
        text-align:right;
        color:#1F62C1;
    }
    #world-name {
        font-size:18px;
    }
    #about {
        position:absolute;
        width:30%; top:1%;
        text-align:left;
        color:#8FB0E0;
        font-size:80%;
        z-index: 1;
    }
    #highscore{
        position:relative;
        width:70%;top: 1%;
        float:right;
        text-align:right;
        font-size:80%;
        color:#8FB0E0;
    }
    #score {
        color:#FFF;
        position:relative;
        float:left;
        width:35%;
        top: 2.5%;
        margin:0;
        padding:0;
        font-size:150%;
        vertical-align: top;
    }
    #score-display{
        position:relative;
        top: 2.5%;
        float:right;
        text-align:right;
        padding:0 5px;
        background:#fff;
        border-radius:10px;
        display:block;
        font-size: 150%;
        font-family:"Courier New", Courier, monospace;
        letter-spacing:2px;
        color:#93C83E;
    }
    #world {
        color:#FFF;
        position:absolute;
        top:9%;
    }
    #waves {
        color:#FFF;
        position:absolute;
        top:11.5%;
    }
    #saved {
        color:#93C83E;
        position:absolute;
        top:14%;
    }
    #expired {
        color:#DE1F2A;
        position:absolute;
        top:16.5%;
    }
    #expired-citizens {
        color:#DE1F2A;
        position:absolute;
        top: 16.5%;
        width: 100%;
        height:23px;
        float:left;
        background-repeat:repeat-x;
    }
    #healthy-citizen {
        background:url(../layout/expired_men.png);
        /*background-position:  0px 0;*/
        background-position: 0% 0%;
        background-size: 200% 100%;
        width: 10%; height:100%;
        position:relative;
        float:left;
    }
    #expired-citizen {
        background:url(../layout/expired_men.png);
        /*background-position:  -16px 0;*/
        background-position: -100% 0%;
        background-size: 200% 100%;
        width: 10%; height:100%;
        position:relative;
        float:left;
    }
    #resourceLevels {
        color:#FFF;
        position:relative;
        float: left;
        top: 22%;
        width: 70%;
        font-size:120%;
    }
    #showResourceGallery {
        position:relative;
        width:30%;top: 22%;
        float:right;
        text-align:right;
        font-size:80%;
    }
    #swatch {
        position:absolute;
        top: 30%;
        width:100%; height: 80%;
        font-size:100%;
        z-index: 100;
    }

#swatch > div, #inline-swatch > div, #gallery-items > div {
    float: left;
    position: relative;
    text-decoration: none;
    padding: 2px;
    margin-right: 10px;
    z-index: 1000;

}
#swatch img, #inline-swatch img, #gallery-items img {
    border-radius:4px;
    z-index: 1000;
    position: relative;
    width: 100%;height: 4%;
}
#inline-swatch img, #gallery-items img {
    height: 14%;
}

/* Resource swatch styles */
.swatch-category, .inline-swatch-category, .gallery-category {
    border-radius:4px;
    margin-top:1%;
    margin-bottom:2%;
    min-width:100%;
    width:100%;

}

.swatch-instance, .inline-swatch-instance, .gallery-instance {
    width:16%;
    text-align:center;
    float: left;
    padding: 2%;
}
.swatch-draggable {
    z-index: 1000;
}

#world-editor {
    position:absolute;
    left: -120px;
    top: 500px;
    width: 487px;
    margin-top: 20px;
    clear: both;
    background: #1F62C1;
    /*background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#203275), to(#1F62C1));*/
    /*background: -moz-linear-gradient(0% 100% 0deg, #203275,#1F62C1);*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding:4px;
    vertical-align:middle;
}

#world-editor > div, #world-features > div {
    float: left;
    position: relative;
    width: 100px;
    height: 40px;
    background: #ffffff;
    color: #1F62C1;
    padding:6px;
    margin:4px;
    text-align:center;
    vertical-align:middle;
}

#world-editor a, #world-features a {
    color: #1F62C1;
}





#gallery-stats {
    position:absolute;
    left: 240px;
    width: 200px;
}
#gallery-item-panel {
    position:absolute;
    left: 20px;
    width: 180px;
}
#gallery-items > div  {
    margin-top: 4px;
    float: left;
    clear:both;
}
#gallery-items .title  {
    color: #ffffff;
}

.inactive {
    opacity:.4;
    cursor:pointer;
}
.title {
    font-weight:bold;
    border-bottom: 1px solid rgba(255, 255, 255, .6);
    margin-bottom:2px;
    padding: 1px 5px;
}
.credits {
    margin-top: 1em;
    font-style:italic;
}
canvas {
    position:absolute;
}
#map_canvas, #alt_map_canvas {
    height: 500px;
    width: 600px;
    position: absolute;
    border: #fff 1px solid;
}
#c1, #c2, #c3, #c4 {
    border: #fff 1px solid;
}
#c1.over, #c2.over, #c3.over, #c4.over {
    border: #fff 1px solid;
}
a {
    color: #FFF;
    text-decoration:none;
}
li {
    list-style: none;
}
ul, li {
    margin: 0px;
    padding: 0px;
}

.purchase {
    border: 0px;
}

*[draggable=true] {
    -moz-user-select:none;
    -khtml-user-drag: element;
    cursor: move;
}
*:-khtml-drag {
    background-color: rgba(238, 238, 238, 0.5);
}
/*
li a:hover {
	border: #999 3px solid;
	background: #fff;
}
li.over {
	border-color: #333;
	background: #ccc;
}
*/
#info h2 {
    margin-top: 0px;
}



/* Resource swatch styles */
/*#swatch_economic {*/
/*background:#44ABE0;*/
/*}*/
/*#swatch_environmental{*/
/*background:#CBDB2A;*/
/*}*/
/*#swatch_social{*/
/*background:#DE1F2A;*/
/*}*/

/* For dialogs */

.quests {
    padding: 4px;
    overflow: auto;
}
.thumbnail {
    margin: 2px;
    padding: 2px;
    float: left;
    width: 96px;
    height: 130px;
    font-size: 0.8em;
}

/* For documentation */
.doc {
    border-radius:4px;
    background:#1F62C1;
    padding:1em;
    border: #fff 1px solid;
}

.doc div {
    margin-top: 1em;
}

.doc ul {
    margin: 1em 1em 1em 2em;
}

.doc li {
    list-style: circle;
}

.slider-container {
    height: 1em;
}
.slider-container > * {
    float: left;
    /*padding-left: 1em;*/

}

.min-slider {
    padding-right: 1em;
}

.max-slider {
    padding-left: 1em;
}

.param-slider {
    width: 90%;
    padding-left: 1em;
    padding-right: 1em;
}

#cost-per-move {
    margin: 10px;
}

#loading, #connect {
    background: #22252a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
}

#loading { z-index: 10000000; }
#connect { z-index: 10000001; }

#loading p, #connect fieldset  {
    font-family: DejaVu Sans Mono, fixed;
    width: 30em;
    border: 0;
}

#toolbar {
    position: fixed;
    color: #fff;
    width: 100%;
    bottom: 0;
    background: #733;
}

#entry {
    width: 100%;
    font-size: inherit;
    padding: 1em;
    margin: 0;
    border-width: 0;
    outline-width: 0;
    clear: both;
}

#log {
    display: block;
    /* enough padding to clear the toolbar.. is there a better way to do this? */
    padding-bottom: 5.1em;
    background: inherit;
    overflow: hidden;
}

/* not very important info */
.notice td, .join td, .part td, .message .date { color: #555; }
.error td { color: #933; }
.personal .nick, .notice .nick { color: #cd5; }

.message {
    margin: 0.1em 0;
}

.message td {
    vertical-align: top;
}

.nick {
    font-weight: bold;
    padding: 0 1em 0 0.5em;
}

.nick a {
    color: inherit;
}

#toolbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toolbar li {
    display: block;
    float: left;
    margin: 0 2em 0 0;
}

#usersLink {
    color: inherit;
}



#alt_gameworld  {
    /*display: none;*/
    clear:both;
    position:relative;
    z-index: 1000;
}
#alt_world {
    /*top:610px;*/
    position:absolute;
    left:0px;
    /*top:110px;*/
    float: left;
    padding:7px;
    border-radius:4px;
    background:#1F62C1;
    display:block;
    width:480px; height:400px;
}
#chat-area {
    color: #eee; background: #22252a;
    /*top: 565px; */
    /*position: absolute;*/
    left: 0px;
    font-size: 14pt;
    line-height: 150%;
}
#chat {
    /*top: 510px; height: 300px; */
    /*width: 665px; */
    overflow: auto;
}
#chat p { padding: 8px; margin: 0; }
#chat p:nth-child(odd) { background: #22252a; }
#form { width: 600px; background: #22252a; padding: 5px 10px; display: none; }
#form input[type=text] { width: 600px; padding: 5px; background: #fff; border: 1px solid #fff; }
#form input[type=submit] { cursor: pointer; background: #999; border: none; padding: 6px 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; margin-left: 5px; text-shadow: 0 1px 0 #fff; }
#form input[type=submit]:hover { background: #A2A2A2; }
#form input[type=submit]:active { position: relative; top: 2px; }


#model-tabs {
    height:100%;
}
/*.tabs-bottom { position: relative; }*/
/*.tabs-bottom .ui-tabs-panel { height: 140px; overflow: auto; }*/
/*.tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 0.2em 0; }*/
/*.tabs-bottom .ui-tabs-nav li { margin-top: -2px !important; margin-bottom: 1px !important; border-top: none; border-bottom-width: 1px; }*/
/*.ui-tabs-selected { margin-top: -3px !important; }*/
#graph-area {
    height:65%;
    width:90%;
}
#world-graph {
    /*position:absolute;*/
    /*left:690px;*/
    /*top:110px;*/
    /*float: left;*/
    /*padding:7px;*/
    text-align: center;
    /*width:480px; height:400px;*/
    /*border: 7px solid #1F62C1;*/
}


#console {
    height: 65%;
    font-size:150%;
}

.jqconsole {
    color: #000;
    height: 88%;
    /*width: 96%;*/
    background: #fff;
    /*color: #fff;*/
    font-weight: 700;
    bottom: 0;
    left: 0;
    margin: 0;
    /*padding-left: 2%;*/
    /*padding-right: 2%;*/
    /*padding-top: 2%;*/
    /*padding-bottom: -2%;*/
    /*padding-bottom: 10px;*/
    position: relative;
    overflow: auto;
    right: 0;
    top: 0;
}
.jqconsole-cursor {
    background-color: #999;
    z-index: 2;
}
.jqconsole-blurred {
    /*height: 20px;*/
}
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
.jqconsole-prompt {
    color: #0d0;
}
.jqconsole-old-prompt {
    color: #0b0;
    font-weight: normal;
}
.jqconsole-input {
    color: #dd0;
}
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}
.brace {
    color: #00FFFF;
}
.paran {
    color: #FF00FF;
}
.bracket {
    color: #FFFF00;
}


/* Special styles */
#console .quote:before {
    content: '"';
}
#console .quote {
    color: #FF0000;
}
#console .quote:after {
    content: '"';
}
#console .code:before {
    content: '  '
}
#console .code {
    color: #FF0000;
    text-indent: 20px;
}
#console .sys:before {
    content: 'FP says:';

}
#console .sys {
    color: #FF9019;
    font-style: italic;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    /*padding: 15px;*/
}
.tilda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}

.CodeMirror {
    color: #000;
    background: #fff;
    border-top: 1px solid black; border-bottom: 1px solid black;
}

.CodeMirror-scroll {
    height: auto; overflow: visible;
}
/*.activeline {background: #f0fcff !important;}*/


/*
www.codecademy.com
#console{
    width:100%;min-height:1px;clear:both
}
#console #console_overlay{
    display:none;position:absolute;z-index:100;height:100%;width:100%;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.6);text-align:center
}
#console #console_overlay h2{margin:50px 0 20px}
#console #console_overlay h2,#console #console_overlay p{color:white;text-shadow:none}
#console .jqconsole{background-color:#EEE;font-family:monospace;font-weight:600;border:2px solid #CCC;line-height:1.5em;overflow-y:auto;position:relative;margin-top:2px}
#console .jqconsole p{margin:0;padding:0}
#console .jqconsole .output{color:green;display:block;margin-bottom:10px}
#console .jqconsole .log{display:block;padding:5px 10px;margin:0 0 10px;position:relative}
#console .jqconsole-cursor{background-color:#999}
#console .jqconsole-blurred .jqconsole-cursor{background-color:#666}
#console .jqconsole-input{color:#dd0}
#console .jqconsole-old-input{color:#bb0;font-weight:normal}
#console .brace{color:lime}
#console .paran{color:lime}
#console .bracket{color:lime}
#console .error{color:crimson}
#console .log{background:beige;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
*/

/*div > input[type=range] { display: inline;  }*/
/*input[type=range] { width: 10em; padding: -3em; }*/
/*input[type=range]:before { content: attr(min);  }*/
/*input[type=range]:before { display: inline;  content: attr(min); padding-right: 5px; }*/
/*input[type=range]:after { content: attr(max); padding-left: 5px;}*/