#new-world-dialog
  #new-world-tabs
    ul
      li
        a(href='#world-introduction') Introduction
      li
        a(href='#world-parameters') Parameters
      li
        a(href='#world-code') Code
    #world-introduction
    #world-parameters
    #world-code
      textarea#module-editor
